.logo {
    font-family: 'Raleway';
    color: var(--accent-color);
    font-weight: 700;
    @include text-size(26px, 1.19, $spacing: 0.03em);
    text-decoration-line: none;

    &__header {
        padding: 24px 0 25px;
        color: var(--logo-black);
      }
    &__footer {
        margin-top: 60px;
        margin-bottom: 20px;
        color: var(--primary-white-color);
      }
  }