@mixin centeredFlex($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
  }
@mixin animation($property) {
    transition-property: $property;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin text-size($size, $height, $spacing: 0.03em) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}