@mixin centeredFlex($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
  }

@mixin animatoin ($property) {
  transition-property: property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}